/*CSS - Booking*/
.booking_info {
	background-color: #c7c3b3;
	padding: 10px;
	margin-bottom: 10px;
	color: #FFF;
}
.booking_info img {
	float: left;
	margin-right: 10px;
}
.booking_info span {
	font-size: 15pt;
	font-weight: bold;
}
.book_table {
	text-align: left;
}
.book_label {
	width: 150px;
	display: inline-block;
}
.book_panel {
	width: 300px;
}
.book_table .input {
	width: 140px;
}
.quick-book-form {
	margin-left: 10px;
}
.quick-book-form .text-input {
	color: #c7c3b3;
	border: none;
	font-style: italic;
}
.book-button {
	position: relative;
	left: -13px;
	top: 5px;
	height: 29px;
	width: 150px;
	color: #FFF;
	font-size: 12pt;
	border: none;
	background-color: #d91d14;
	cursor: pointer;
}