/*CSS - Booking*/
.booking_info {
	background-color: #8b815f;
	padding: 10px;
	margin-bottom: 10px;
	color: #FFF;
}
.booking_info img {
	float: left;
	margin-right: 10px;
}
.booking_info span {
	font-size: 15pt;
	font-weight: bold;
}
.book_table {
	text-align: left;
}
.book_label {
	width: 150px;
	display: inline-block;
}
.book_panel {
	width: 345px;
}
.book_table .input {
	width: 140px;
}
.quick-book-form {
	margin-left: 10px;
}
.quick-book-form .text-input {
	color: #b5b5b5;
	border: none;
	font-style: italic;
}
.book-button {
	position: relative;
	left: -13px;
	top: 5px;
	height: 29px;
	width: 150px;
	color: #FFF;
	font-size: 12pt;
	border: none;
	background-color: #d91d14;
	cursor: pointer;
}
.book-button:hover {
	background-image: url('/img/book_h.png');
}
.calculate-button {
	background-image: url('/img/calculate.png');
	height: 20px;
	width: 104px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.calculate-button:hover {
	background-image: url('/img/calculate_h.png');
}
.accordion {
	margin-top: 10px;
	height: auto;
}
.accordion div {
	font-size: 12px;
}
.accordion h3 {
	font-size: 15px;
}<strike></strike>