/*CSS - Contact us*/
#contact_info {
	width: 320px;
}
#contact_form {
	background-color: #8b815f;
	padding: 10px;
	width: 300px;
	color: #FFF;
}
#submit_button {
	float: right;
}
.contact_label {
	display: inline;
	float: left;
	width: 75px;
}