.gallery {
	width: 660px;
	position: relative;
	margin: auto;
}
.gallery a {
	float: left;
	text-decoration: none;
	border: 0px none;
	margin-right: 10px;
	margin-bottom: 10px;
}
.gallery img {
	border: 5px solid #d2c9a4;
	width: 145px;
	height: 100px;
}
.gallery img:hover {
	border-color: #b2a984;
}